<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Edit Details</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

  <!-- Temp -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/alert.css">

</head>

<body>
  <div class="container-fluid">
    <!-- Alert Message -->

    <div id="alert" class="alert success-alert">
      <h3>Data Added Successfully!</h3>
      <a class="close">&times;</a>
    </div>
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2><%=title%> Details</h2>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-info add-new">
              <i class="fa fa-plus"></i> Add New
            </button>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="field--table__data">

          <%fields.map(({id,name},index)=>{%>
          <tr class="table__field">
            <td class="field__idx"><%=++index%></td>
            <td><%=name%></td>

            <td class="field__id" data-id="<%=id%>">
              <a class="delete__field" title="Delete" data-toggle="tooltip"><i
                  class="material-icons delete__entry">&#xE872;</i></a>
            </td>
          </tr>


          <%})%>

          <tr class="hidden-row" style="display: none;">
            <td class="row__number"></td>
            <td><input type="text" class="form-control field__name" name="name" id="name">
              <div style="display: none" class="text-danger">
                Name is Required
              </div>
            </td>
            <td>
              <a class="delete__field" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </td>
          </tr>


        </tbody>
      </table>
      <div class="submit-button">
        <button disabled class="btn btn-primary btn-lg btn-block buttons table__submit--button" type="submit">
          Submit
        </button>
      </div>
    </div>
  </div>
  <script src="/scripts/index.js"></script>
</body>

</html>