<div class="add__fields-btn">
  <a href="/admin/add-fields" class="btn-link btn-block">
    <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
  </a>
</div>

<select name="coe" id="select" class="custom-select d-block w-100 db__dropdown" required>
  <option value="NA">Choose...</option>
  <option>Not Available</option>
</select>