<%- include ("../partials/header") %>

  <div class="container-fluid">
    <section id="form">
      <form id="myForm" class="needs-validation" novalidate action="/faculty/fac_entrepreneurshipDetails">
        <div class="container-fluid">

          <!-- Header Section -->

          <div class="row data-row">
            <div class="col-md-8 mb-3">
              <h4 class="mb-3 title">Entrepreneurship Details</h4>
            </div>
            <div class="col-md-4 mb-3 report">
              <a href="/faculty/search" class="btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
          </div>
          

          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label class="required">Company Name</label>
              <input type="text" name="CompanyName" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Company Address</label>
              <input type="text" name="CompanyAddress" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
          </div>
          <div class="row data-row">

            <div class="col-md-6 mb-3">
              <label for="date" class="required">Establishment Date</label>
              <input type="date" name="establishmentDate" class="form-control" onchange="setDate()">
              <div class="invalid-feedback">
                 Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Faculty ID</label>
              <select name="id" class="custom-select d-block w-100">
                <option value="">Choose...</option>
                <option>Faculty 1</option>
                <option>Faculty 2</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid type.
              </div>
            </div>
            
          </div>
          <div class="row data-row">
            
            <div class="col-md-6 mb-3">
              <label>Revenue Generated</label>
              <input type="text" name="revenue" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            
            
            <div class="col-md-6 mb-3">
              <label class="required">Objectives</label>
              <input type="text" name="objectives" class="form-control">
              <div class="invalid-feedback">
                 Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Benefit in terms of learning/Skill/Knowledge obtained</label>
              <input type="text" name="benefit" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="required">Company Type</label>
              <input type="text" name="Companytype" class="form-control">
              <div class="invalid-feedback">
                  Please enter valid details.
                </div>
            </div>
            


          </div>
          <div class="row data-row">
            
            
            

            <div class="col-md-6 mb-3">
              <label class="required">COE</label>

              <!-- COE  -->

              <%- include ("../partials/coe") %>

                <div class="invalid-feedback">
                  Please select a valid type.
                </div>
            </div>

            <div class="col-md-6 mb-3">
              <label class="required">In Association with</label>
              <br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-CSE" value="CSE">
                <label class="form-check-label">
                  CSE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-ISE" value="ISE">
                <label class="form-check-label">
                  ISE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-CIVIL" value="CIVIL">
                <label class="form-check-label">
                  CIVIL
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-MECH" value="MECH">
                <label class="form-check-label">
                  MECH
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-ECE" value="ECE">
                <label class="form-check-label">
                  ECE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-EEE" value="EEE">
                <label class="form-check-label">
                  EEE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-BS" value="BS">
                <label class="form-check-label">
                  BS
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-MBA" value="MBA">
                <label class="form-check-label">
                  MBA
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-MCA" value="MCA">
                <label class="form-check-label">
                  MCA
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Association-TCE" value="TCE">
                <label class="form-check-label">
                  TCE
                </label>
              </div>
            </div>
          </div>

          <%- include ("../partials/description") %>

          <div class="submit-button"><button class="btn btn-primary btn-lg btn-block buttons" type="submit">
              Submit</button>
          </div>
        </div>

      </form>



    </section>

  </div>

  <!-- Footer -->


  <%- include ("../partials/footer") %>

   <script  type="text/javascript" src="/js/date.js">
    </script>

    </body>

    </html>